*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

@media (prefers-reduced-motion: no-preference) {
  html {
    interpolate-size: allow-keywords;
  }
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

p {
  text-wrap: pretty;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  text-wrap: balance;
}

:root {
  --color-blue-50: #eff6ff;
  --color-blue-100: #dbebfe;
  --color-blue-200: #bfdbfe;
  --color-blue-300: #93c2fd;
  --color-blue-400: #60a5fa;
  --color-blue-500: #3b8ff6;
  --color-blue-600: #257eeb;
  --color-blue-700: #1d71d8;
  --color-blue-800: #1e5faf;
  --color-blue-900: #1e4e8a;
  --color-blue-950: #173254;

  --color-gray-50: #f5f7f8;
  --color-gray-100: #edeff2;
  --color-gray-200: #dfe2e6;
  --color-gray-300: #d1d5db;
  --color-gray-400: #b5b9c4;
  --color-gray-500: #a1a5b3;
  --color-gray-600: #8b8fa0;
  --color-gray-700: #777a8b;
  --color-gray-800: #626471;
  --color-gray-900: #52555d;
  --color-gray-950: #303136;
}

.typo-m {
  font-family: "Montserrat", ui-sans-serif, system-ui, sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

.typo-i {
  font-family: "Inter", ui-sans-serif, system-ui, sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

.typo-m--title-lg {
  font-size: 3rem;
  font-weight: 700;
  line-height: 4rem;
}

.typo-i--body-lg {
  font-size: 1.125rem;
  font-weight: 400;
  line-height: 1.75rem;
}

.typo-i--body-md {
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5rem;
}

.typo-i--label-md {
  font-size: 1rem;
  font-weight: 500;
  line-height: 1.5rem;
}

.container {
  padding-left: 1rem;
  padding-right: 1rem;
}

.container--small,
.container--large {
  width: 100%;
}

.page__header {
  background: linear-gradient(var(--color-blue-950), var(--color-blue-900));
  padding-bottom: 6rem;
}

.top-bar {
  margin-bottom: 4rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.top-bar__logo {
  width: 12rem;
}

.navigation__list {
  list-style: none;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 2rem;
}

.navigation__link {
  text-decoration: none;
  color: #e5e7eb;
}

.button {
  display: block;
  text-decoration: none;
  border: none;
  border-radius: 0.5rem;
  cursor: pointer;
  transition-property: background-color, color;
  transition-duration: 300ms;
}

.button--md {
  padding-left: 2.5rem;
  padding-right: 2.5rem;
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
}

.button--sm {
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}

.button--primary {
  background-color: var(--color-blue-400);
  color: #111827;
  box-shadow: 0 1px 3px 0 rgb(0 0 0 / 0.1), 0 1px 2px -1px rgb(0 0 0 / 0.1);
}

.button--primary:hover {
  background-color: var(--color-blue-300);
}

.hero__text {
  margin-bottom: 4rem;
}

.hero__title {
  margin-bottom: 2rem;
  color: var(--color-gray-100);
}

.hero__subtitle {
  margin-bottom: 2rem;
  color: var(--color-gray-300);
}

@media screen and (min-width: 640px) {
  .container {
    margin-left: auto;
    margin-right: auto;
  }

  .container--small,
  .container--large {
    width: 640px;
  }
}

@media screen and (min-width: 768px) {
  .container {
    padding-left: 2rem;
    padding-right: 2rem;
  }

  .container--small,
  .container--large {
    width: 768px;
  }
}

@media screen and (min-width: 1024px) {
  .container {
    padding-left: 3rem;
    padding-right: 3rem;
  }

  .container--small {
    width: 768px;
  }

  .container--large {
    width: 1024px;
  }

  .hero {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 3rem;
  }

  .hero__text {
    flex: 3;
  }

  .hero__image {
    flex: 2;
    min-width: 0;
  }
}

@media screen and (min-width: 1280px) {
  .container--small {
    width: 1024px;
  }

  .container--large {
    width: 1280px;
  }

  .hero__text {
    flex: 1;
  }

  .hero__image {
    flex: 1;
  }
}
