*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

@media (prefers-reduced-motion: no-preference) {
  html {
    interpolate-size: allow-keywords;
  }
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

p {
  text-wrap: pretty;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  text-wrap: balance;
}

:root {
  --color-blue-50: #eff6ff;
  --color-blue-100: #dbebfe;
  --color-blue-200: #bfdbfe;
  --color-blue-300: #93c2fd;
  --color-blue-400: #60a5fa;
  --color-blue-500: #3b8ff6;
  --color-blue-600: #257eeb;
  --color-blue-700: #1d71d8;
  --color-blue-800: #1e5faf;
  --color-blue-900: #1e4e8a;
  --color-blue-950: #173254;

  --color-orange-50: #fff4ed;
  --color-orange-100: #ffe5d4;
  --color-orange-200: #ffc7a8;
  --color-orange-300: #ffa071;
  --color-orange-400: #ff6b35;
  --color-orange-500: #fe4711;
  --color-orange-600: #ef2d07;
  --color-orange-700: #c61c08;
  --color-orange-800: #9d190f;
  --color-orange-900: #7e1810;
  --color-orange-950: #440806;

  --color-green-50: #ecfdf7;
  --color-green-100: #d1faec;
  --color-green-200: #a7f3da;
  --color-green-300: #6ee7bf;
  --color-green-400: #34d39e;
  --color-green-500: #10b981;
  --color-green-600: #059666;
  --color-green-700: #047852;
  --color-green-800: #065f42;
  --color-green-900: #064e36;
  --color-green-950: #022c1e;

  --color-gray-50: #f5f7f8;
  --color-gray-100: #edeff2;
  --color-gray-200: #dfe2e6;
  --color-gray-300: #d1d5db;
  --color-gray-400: #b5b9c4;
  --color-gray-500: #a1a5b3;
  --color-gray-600: #8b8fa0;
  --color-gray-700: #777a8b;
  --color-gray-800: #626471;
  --color-gray-900: #52555d;
  --color-gray-950: #303136;
}

.typo-m {
  font-family: "Montserrat", ui-sans-serif, system-ui, sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

.typo-i {
  font-family: "Inter", ui-sans-serif, system-ui, sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

.typo-m--title-lg {
  font-size: 3rem;
  font-weight: 700;
  line-height: 4rem;
}

.typo-m--title-md {
  font-size: 2.5rem;
  font-weight: 600;
  line-height: 3.5rem;
}

.typo-m--title-sm {
  font-size: 1rem;
  font-weight: 600;
  line-height: 1.5rem;
}

.typo-i--title-sm {
  font-size: 1rem;
  font-weight: 600;
  line-height: 1.5rem;
}

.typo-i--body-xl {
  font-size: 1.25rem;
  font-weight: 400;
  line-height: 2rem;
}

.typo-i--body-lg {
  font-size: 1.125rem;
  font-weight: 400;
  line-height: 2rem;
}

.typo-i--body-md {
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5rem;
}

.typo-i--label-md {
  font-size: 1rem;
  font-weight: 500;
  line-height: 1.5rem;
}

.container {
  padding-left: 1rem;
  padding-right: 1rem;
}

.container--small,
.container--large {
  width: 100%;
}

.page__icons {
  display: none;
}

.page__header {
  background: linear-gradient(var(--color-blue-950), var(--color-blue-900));
}

.top-bar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.top-bar__logo {
  width: 12rem;
}

.navigation__list {
  list-style: none;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 2rem;
}

.navigation__link {
  text-decoration: none;
  color: #e5e7eb;
}

.button {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 0.5rem;
  text-decoration: none;
  border: none;
  cursor: pointer;
  transition-property: background-color, color;
  transition-duration: 300ms;
}

.button__icon {
  width: 1.25rem;
  height: 1.25rem;
}

.button--text {
  padding: 0;
  background-color: transparent;
  color: var(--color-blue-50);
}

.button--md {
  padding-left: 2rem;
  padding-right: 2rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.button--sm {
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}

.button--primary {
  border-radius: 0.5rem;
  background-color: var(--color-blue-400);
  color: var(--color-blue-950);
  box-shadow: 0 1px 3px 0 rgb(0 0 0 / 0.1), 0 1px 2px -1px rgb(0 0 0 / 0.1);
}

.button--primary:hover {
  background-color: var(--color-blue-300);
}

.section {
  margin-top: 10rem;
  margin-bottom: 10rem;
}

.section__name {
  margin-bottom: 0.5rem;
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: 0.125rem;
  color: var(--color-blue-800);
}

.section__title {
  margin-bottom: 0.5rem;
  color: var(--color-gray-950);
}

.section__subtitle {
  margin-bottom: 4rem;
  max-width: 40rem;
  color: var(--color-gray-800);
}

.section__list {
  list-style: none;
  padding-left: 0;
  display: grid;
  grid-template-columns: repeat(1, 1fr);
}

.section__list--large-gap {
  gap: 3rem;
}

.section__list--small-gap {
  gap: 1.5rem;
}

.hero {
  padding-top: 6rem;
  padding-bottom: 16rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  background-image: url("./hero.png");
  background-position: top center;
  background-size: contain;
  background-repeat: no-repeat;
}

.hero__title {
  max-width: 30rem;
  margin-bottom: 2rem;
  color: var(--color-gray-100);
}

.hero__subtitle {
  max-width: 33rem;
  margin-bottom: 3rem;
  color: var(--color-gray-300);
}

.hero__button-group {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 2rem;
}

.feature {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.feature__icon-wrapper {
  margin-bottom: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 3rem;
  height: 3rem;
  background: var(--color-blue-800);
  border-radius: 0.5rem;
  color: var(--color-blue-50);
}

.feature__icon {
  width: 1.5rem;
  height: 1.5rem;
}

.feature__name {
  margin-bottom: 0.5rem;
  color: var(--color-gray-950);
}

.feature__description {
  color: var(--color-gray-800);
}

.testimonial {
  padding-top: 10rem;
  padding-bottom: 10rem;
  background: linear-gradient(var(--color-blue-950), var(--color-blue-900));
}

.testimonial__container {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 3rem;
}

.testimonial__client-picture {
  flex: 1;
  min-width: 0;
  border-radius: 1rem;
}

.testimonial__text {
  flex: 3;
}

.testimonial__client-citation {
  margin-bottom: 2rem;
  color: var(--color-gray-50);
}

.testimonial__client-name {
  color: var(--color-gray-50);
}

.testimonial__client-position {
  color: var(--color-gray-300);
}

.case-study {
  flex: 1;
  padding: 1.5rem;
  border: 0.063rem solid var(--color-gray-100);
  border-radius: 1rem;
}

.case-study:hover {
  background-color: var(--color-gray-50);
}

.case-study__header {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 1rem;
}

.case-study__logo {
  margin-bottom: 1rem;
  background-color: var(--color-blue-800);
  color: var(--color-blue-50);
  border-radius: 0.5rem;
  padding: 0.5rem;
  width: 3rem;
  height: 3rem;
}

.case-study__client {
  margin-bottom: 1rem;
  color: var(--color-blue-800);
}

.case-study__title {
  margin-bottom: 1rem;
  color: var(--color-gray-950);
}

.case-study__description {
  color: var(--color-gray-800);
}

.cta {
  margin-bottom: 10rem;
}

.cta__inner {
  padding-top: 5rem;
  padding-bottom: 5rem;
  border-radius: 1rem;
  background: linear-gradient(var(--color-blue-950), var(--color-blue-900));
}

.cta__title {
  max-width: 60rem;
  margin-bottom: 0.5rem;
  color: var(--color-gray-100);
}

.cta__subtitle {
  max-width: 40rem;
  margin-bottom: 2rem;
  color: var(--color-gray-300);
}

.cta__button-group {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 2rem;
}

.cta__link-list {
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 1rem;
}

.cta__link {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 1rem;
  text-decoration: none;
  color: var(--color-gray-100);
}

.cta__icon {
  width: 1.5rem;
  height: 1.5rem;
}

.people__image {
  margin-bottom: 0.5rem;
  aspect-ratio: 4 / 3;
  object-fit: cover;
  object-position: center;
  border-radius: 0.5rem;
}

.people__name {
  margin-bottom: 0.125rem;
  color: var(--color-gray-950);
}

.people__position {
  margin-bottom: 1rem;
  color: var(--color-gray-900);
}

.people__social-links {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 1rem;
}

.people__social-link {
  text-decoration: none;
  color: var(--color-gray-900);
}

.people__social-icon {
  width: 1.25rem;
  height: 1.25rem;
}

.footer {
  padding-top: 10rem;
  padding-bottom: 10rem;
  background: linear-gradient(var(--color-blue-950), var(--color-blue-900));
}

@media screen and (min-width: 640px) {
  .container {
    margin-left: auto;
    margin-right: auto;
  }

  .container--small,
  .container--large {
    width: 640px;
  }
}

@media screen and (min-width: 768px) {
  .container {
    padding-left: 2rem;
    padding-right: 2rem;
  }

  .container--small,
  .container--large {
    width: 768px;
  }
}

@media screen and (min-width: 1024px) {
  .container {
    padding-left: 3rem;
    padding-right: 3rem;
  }

  .container--small {
    width: 768px;
  }

  .container--large {
    width: 1024px;
  }

  .section__list {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (min-width: 1280px) {
  .container--small {
    width: 1024px;
  }

  .container--large {
    width: 1280px;
  }

  .hero__text {
    flex: 1;
  }

  .hero__image {
    flex: 1;
  }

  .section__list {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media screen and (min-width: 1536px) {
  .container--small {
    width: 1280px;
  }

  .container--large {
    width: 1536px;
  }
}
